body {
    background-color: rgba(83, 66, 66, 0.733);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}
.container {
    width: 80%;
    margin: 0 auto;
}
.grid-container {
    display: grid;
    grid-template-areas: 
    'Header Body Body Body'
    'Header Main Main Main'
    'Header Main Main Main'
    'Footer Footer Footer Footer';
    grid-gap: 10px;
    padding: 10px;
    background-color:gray;
    border: 10px dotted;
}
.grid-container > div {
    background-color:rgb(88, 88, 92);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
header {
    background:white;
}
header::after {
    content: '';
    display: table;
    clear: both;
}
.logo {
    padding-top: 10px 0;
    float: right;
}
nav {
    float:right;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li {
    display: inline-block;
    margin-left: 110px;
    padding-top: 27.8px;
    padding-bottom: 10px;
    color: black;
    text-align: center;
}
li:hover {
    color:rgba(83, 66, 66, 0.733)
}
.Sak1 {
    grid-area: Header;
}
.Sak2 {
    grid-area: Main;
}
.Sak3 {
    grid-area: Body;
}
.Sak4 {
    grid-area: Footer;
}
h1 {
    text-align: center;
}
p {
    text-align: center;
}
a:hover {
    color: rgb(35, 134, 192);
    border: 1px dotted;
}
nav a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 22px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.text1 {
    color:white;
}
.homebody2 {
    background-color: rgba(83, 66, 66, 0.733);
}
.grid-container:first-child {
    background-image: url(amog.jpg);
}
.border {
    border: 5px solid;
}
.burger {
    text-align: center;
}
.borgir {
    font-size: 25px;
}